#best {
	margin: 2rem auto;
  padding: 1rem 2.5rem;
  background: #f4edffaa;
}

#best h2 {
	margin: 1em 0;
  font-size: 1.5em;
  border-bottom: 3px solid #2a003e;
  padding-bottom: 0.3em;
  color: #2a003e;
}

#best h2:hover {
	color: #7876b3;
}

#best .container {
	max-width: 1140px;
	padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  min-width: 100%;
  max-width: 100%;
  flex: 0 1 1;
}

@media (min-width: 600px) {
	#best h2 {
		font-size: 2em;
	}
	.item {
		min-width: 50%;
		max-width: 50%;
		flex: 0 1 50%;
	}
}

#best i {
  margin-right: 0.5rem;
}
#best .fa-check-square {
  line-height: 1.9;
}

#best figure {
  padding: 0.9em;
  /* #f5bca8 #FFBFEC #FF86C6 */
  border: 3px solid #7876b3;
  background: #fff;
  margin: 0;
  /* float: left; */
  /* width: 480px; */
  /* max-width: 100%; */
}

#best figure img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#best figcaption {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5em;
  text-align: center;
  color: #2a003e;
  background: #f4edff;
  counter-increment: figures;
}

#best .tag {
  background: #f4edff;
  font-size: 0.9rem;
}
#best .tag::after {
  background-color: #f4edff;
	border-bottom: 13px solid transparent;
  border-left: 10px solid #f4edff;
  border-top: 13px solid transparent;
}

#best .tag:hover {
  background-color: #7876b3;
  /* color: white; */
}

#best .tag:hover::after {
  border-left-color: #7876b3;
}
