@charset "UTF-8";
body {
  overflow-x: hidden;
  font-family: '微軟正黑體', sans-serif !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

*:focus, *:hover {
  outline: none !important;
}

/* 字體 */
.h1, h1 {
  font-size: 1.43rem !important;
}

.h2, h2 {
  font-size: 1.32rem !important;
}

@media screen and (max-width: 576px) {
  .h2, h2 {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 1.9 !important;
    font-weight: 700 !important;
  }
}

.h3, h3 {
  font-size: 1.125rem !important;
}

.h4, h4 {
  font-size: 0.937rem !important;
}

.h5, h5 {
  font-size: 0.812rem !important;
}

.h6, h6 {
  font-size: 0.625rem !important;
}

/* 通用 */
.pt-56 {
  padding-top: 56px;
}

@media screen and (max-width: 576px) {
  .pt-56 {
    padding-top: 19px;
  }
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* w-618 和 w-382 是黃金比例 */
.w-618 {
  width: 61.8%;
}

@media screen and (max-width: 768px) {
  .w-618 {
    width: 100%;
  }
}

.w-382 {
  width: 38.2%;
}

@media screen and (max-width: 768px) {
  .w-382 {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

@media screen and (min-width: 1920px) and (min-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

section {
  background-color: #c9d9f8;
}

/* NAV 導覽列 */
nav a {
  letter-spacing: 2px;
}

nav .navbar {
  margin-bottom: 0;
  /* 消除nav下空隙 */
}

nav .navbar-brand {
  font-weight: 700;
}

nav .navbar-nav a, nav .navbar-nav p {
  color: #0c2875 !important;
  line-height: calc(46vh / 15);
  text-align: center;
}

nav .navbar-nav p {
  margin: 0;
  padding: 8 0;
}

/* Banner */
section#banner .h-banner {
  height: calc(100vh - 56px);
}

@media screen and (max-width: 576px) {
  section#banner .h-banner {
    margin-top: 37px;
  }
}

/* 山居生活 */
section#life .container {
  position: relative;
}

section#life .swiper-container {
  height: 435px;
}

@media screen and (max-width: 768px) {
  section#life .swiper-container {
    height: calc(39vh - 19px);
  }
}

section#life .swiper-container .swiper-button-next, section#life .swiper-container .swiper-button-prev {
  width: 30px;
  height: 24px;
}

section#life .swiper-container .swiper-pagination-bullet {
  width: 66px;
  border-radius: unset;
  background: #11dafd;
}

section#life .swiper-container .ml-btn-prev {
  margin-left: 46.4rem;
}

@media screen and (max-width: 1200px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: 35.2rem;
  }
}

@media screen and (max-width: 992px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: 22.5rem;
  }
}

@media screen and (max-width: 768px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: unset;
  }
}

section#life #price {
  width: 235px;
  height: 300px;
  position: absolute;
  top: 176px;
  right: 98px;
}

@media screen and (max-width: 992px) {
  section#life #price {
    top: 172px;
    right: 63px;
  }
}

@media screen and (max-width: 768px) {
  section#life #price {
    width: 80%;
    position: unset;
    top: unset;
    right: unset;
    margin-top: -25px;
  }
}

section#life #price .card {
  border: unset;
  border-radius: unset;
}

@media screen and (max-width: 576px) {
  section#life #price .card .card-body h2 {
    border-top: unset;
    border-bottom: unset;
    display: block;
    line-height: unset;
    padding-top: 0;
  }
}

section#life #price .card .card-body .card-text {
  letter-spacing: 0.25rem;
}

section#life #price .card .card-body p {
  line-height: 25px;
}

section#life #price .card .card-body small {
  line-height: 17.5px;
}

section#life #price .card .card-body a {
  margin-bottom: 5rem !important;
}

section#life #price .swiper-pagination-bullet {
  width: 13px;
  margin: 0 5px;
}

section#life .row i {
  font-size: 2.5rem;
  padding: 0.5rem;
  background-color: #0c2875;
  border-radius: 19px;
  color: #c9d9f8;
}

section#life .row h5 {
  letter-spacing: 1px;
  line-height: 29px;
}

@media screen and (max-width: 576px) {
  section#life .row h5 {
    font-size: 0.9rem;
  }
}

/* 最新消息 */
section#news {
  height: 100vh;
}

@media screen and (max-width: 576px) {
  section#news h2 {
    border-top: unset;
    border-bottom: unset;
    display: block;
    line-height: unset;
    padding-top: 0;
  }
}

@media screen and (max-width: 576px) {
  section#news .row .col-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

section#news .row .col-4 .r-news {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: solid 1px #050141;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  section#news .row .col-4 .r-news {
    width: 54px;
    height: 54px;
  }
}

@media screen and (max-width: 992px) {
  section#news .row .col-4 .r-news {
    width: 68px;
    height: 68px;
  }
}

section#news .row .col-4 .r-news p {
  margin: 0;
  padding: 0 15px;
  font-family: 'Franklin Gothic Medium',serif;
  line-height: 35px;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  section#news .row .col-4 .r-news p {
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  section#news .row .col-4 .r-news p {
    line-height: 32px;
  }
}

section#news .row .col-4 .r-news .border-bottom {
  border-bottom: 1px solid #050141 !important;
}

section#news .row .col-8 a {
  text-decoration: none;
  color: #0c2875;
}

section#news .row .col-8 a:hover {
  color: #1956c7;
}

section#news .row .border-top {
  border-top: 1px solid #050141 !important;
  padding-top: 27px;
}

section#news .row .date {
  line-height: 18px;
}

/* 山居故事 + 美好歲月 */
section#about {
  position: relative;
  height: unset;
}

@media screen and (max-width: 576px) {
  section#about {
    height: 105vh;
  }
}

section#about .row {
  margin: 0;
}

section#about .col {
  padding: 0;
}

section#about .col .story-img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: calc(100vh - 89px);
}

@media screen and (max-width: 576px) {
  section#about .col .story-img {
    height: 55vh;
  }
}

section#about .col .story {
  position: absolute;
  top: 50px;
  right: 155px;
  background-color: #c9d9f8;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15pt;
  color: #1956c7;
}

@media screen and (max-width: 576px) {
  section#about .col .story {
    top: unset;
    right: 1px;
    bottom: -239px;
    width: 330px !important;
    height: 300px !important;
    width: unset;
    height: unset;
  }
  section#about .col .story h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.75rem;
  }
  section#about .col .story p {
    font-size: .85rem;
  }
}

section#about .col a {
  text-decoration: none;
}

section#about .col a .photo {
  position: absolute;
  right: 183px;
  bottom: 53px;
  background-color: #c9d9f8;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  font-size: 15pt;
  line-height: 155px;
  color: #1956c7;
  -webkit-filter: drop-shadow(1px 1px 1.5px #0c2875);
          filter: drop-shadow(1px 1px 1.5px #0c2875);
}

@media screen and (max-width: 576px) {
  section#about .col a .photo {
    right: unset;
    left: 43px;
    bottom: -264px;
    display: inline-block;
    width: unset;
    height: unset;
    border-radius: 3px;
    line-height: unset;
    letter-spacing: 0.15rem;
  }
}

/* 周邊景點 */
section#viewpoint .card {
  background-color: unset;
  border: unset;
}

section#viewpoint .card .Text {
  text-align: center;
  z-index: 30;
  margin: -20px 40px 0 40px;
  background: #fff;
  padding: 15px;
  position: relative;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

section#viewpoint .card .Text .btn {
  padding: 0.1rem 0.3rem;
  background-color: #7878f8;
  color: #fff;
}

section#viewpoint .swiper-container .swiper-button-next, section#viewpoint .swiper-container .swiper-button-prev {
  top: unset;
  bottom: 3%;
}

section#viewpoint .swiper-container .swiper-button-next {
  right: 3px;
}

section#viewpoint .swiper-container .swiper-button-prev {
  left: 3px;
}

/* 行程推薦 */
/* 山居位置 */
section#map .container {
  position: relative;
}

@media screen and (max-width: 576px) {
  section#map .container {
    padding-left: 0;
    padding-right: 0;
  }
}

section#map button {
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px;
  border-color: transparent transparent #7a9bf7 transparent;
}

@media screen and (max-width: 576px) {
  section#map button {
    font-size: 11px;
    border-style: solid;
    border-width: 30px;
    border-color: transparent transparent #7a9bf7 transparent;
  }
}

section#map button i {
  position: absolute;
  font-size: 53px;
  color: #c9d9f8;
  top: 140px;
  right: 104px;
  -webkit-filter: drop-shadow(0.5px 0.5px 1.5px #0c2875);
          filter: drop-shadow(0.5px 0.5px 1.5px #0c2875);
}

@media screen and (max-width: 576px) {
  section#map button i {
    font-size: 35px;
    top: 62px;
    right: 26px;
  }
}

section#map button h2 {
  position: absolute;
  top: 185px;
  right: 80px;
}

@media screen and (max-width: 576px) {
  section#map button h2 {
    top: 85px;
    right: 21px;
    line-height: 1.2 !important;
    font-size: 12pt !important;
    border-top: unset;
    border-bottom: unset;
    display: block;
  }
}

section#map .collapse .card iframe {
  widows: 100%;
  height: 60vh;
}

/* 聯絡我們 */
section#contact .contact-us {
  background-color: #0e1946;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  position: fixed;
  right: 9px;
  bottom: 9px;
  z-index: 999;
}

section#contact .font-contact {
  text-align: center;
  line-height: 70px;
  /* 數值跟著外面的圓 */
  color: #c9d9f8;
  font-size: 23pt;
  -webkit-transform: scaleX(-1) rotate(-29deg);
          transform: scaleX(-1) rotate(-29deg);
}

section#contact #success_message {
  display: none;
}

/* footer */
footer {
  background-color: #7a9bf7;
}

footer .row .col-12 a {
  text-decoration: none;
  color: #0c2875;
}

footer .row .col-md-3 i.fa-paper-plane {
  font-size: 1.9rem;
}

footer .row .col-md-3 p {
  line-height: 30px;
  margin: 0;
}
/*# sourceMappingURL=mtlife.css.map */