@charset "UTF-8";
body {
  overflow-x: hidden;
  font-family: '微軟正黑體', sans-serif !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

*:focus, *:hover {
  outline: none !important;
}

/* 字體 */
.h1, h1 {
  font-size: 1.43rem !important;
}

.h2, h2 {
  font-size: 1.32rem !important;
}

.h3, h3 {
  font-size: 1.125rem !important;
}

.h4, h4 {
  font-size: 0.937rem !important;
}

.h5, h5 {
  font-size: 0.812rem !important;
}

.h6, h6 {
  font-size: 0.625rem !important;
}

/* 大標的樣式 */
.title {
  letter-spacing: 1rem;
  position: relative;
}

.title:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 509px;
  height: 23px;
  width: 13%;
  background-color: rgba(134, 215, 252, 0.5);
}

@media screen and (max-width: 1200px) {
  .title:after {
    left: 422px;
    width: 14%;
  }
}

@media screen and (max-width: 1080px) {
  .title:after {
    left: 419px;
    width: 15%;
  }
}

@media screen and (max-width: 895px) {
  .title:after {
    left: 302px;
    width: 19%;
  }
}

@media screen and (max-width: 576px) {
  .title:after {
    left: 210px;
    width: 27%;
  }
}

/* 通用 */
.pt-56 {
  padding-top: 56px;
}

@media screen and (max-width: 576px) {
  .pt-56 {
    padding-top: 19px;
  }
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* w-618 和 w-382 是黃金比例 */
.w-618 {
  width: 61.8%;
}

@media screen and (max-width: 768px) {
  .w-618 {
    width: 100%;
  }
}

.w-382 {
  width: 38.2%;
}

@media screen and (max-width: 768px) {
  .w-382 {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

section {
  background-color: #c9d9f8;
}

/* NAV 導覽列 */
nav a {
  letter-spacing: 2px;
}

nav .navbar {
  margin-bottom: 0;
  /* 消除nav下空隙 */
}

nav .navbar-brand {
  font-weight: 700;
}

nav .navbar-nav a, nav .navbar-nav p {
  color: #0c2875 !important;
  line-height: calc(46vh / 15);
  text-align: center;
}

nav .navbar-nav p {
  margin: 0;
  padding: 0;
}

nav .navbar-toggler {
  border: unset !important;
}

/* Banner */
section#banner .h-banner {
  height: calc(100vh - 56px);
}

@media screen and (max-width: 576px) {
  section#banner .h-banner {
    margin-top: 37px;
  }
}

/* 山居生活 */
section#life .container {
  position: relative;
}

section#life .swiper-container {
  height: 435px;
}

@media screen and (max-width: 768px) {
  section#life .swiper-container {
    height: calc(50vh - 19px);
  }
}

section#life .swiper-container .swiper-button-next, section#life .swiper-container .swiper-button-prev {
  width: 30px;
  height: 24px;
}

section#life .swiper-container .swiper-pagination-bullet {
  width: 66px;
  border-radius: unset;
  background: #7a9bf7;
}

section#life .swiper-container .ml-btn-prev {
  margin-left: 46.4rem;
}

@media screen and (max-width: 1200px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: 35.2rem;
  }
}

@media screen and (max-width: 992px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: 22.5rem;
  }
}

@media screen and (max-width: 768px) {
  section#life .swiper-container .ml-btn-prev {
    margin-left: unset;
  }
}

section#life #price {
  width: 235px;
  height: 300px;
  position: absolute;
  top: 176px;
  right: 98px;
}

@media screen and (max-width: 992px) {
  section#life #price {
    top: 172px;
    right: 63px;
  }
}

@media screen and (max-width: 768px) {
  section#life #price {
    width: 80%;
    height: auto;
    position: unset;
    top: unset;
    right: unset;
    margin-top: -25px;
  }
}

section#life #price .card {
  border: unset;
  border-radius: unset;
}

@media screen and (max-width: 576px) {
  section#life #price .card .card-body h2 {
    border-top: unset;
    border-bottom: unset;
    display: block;
    line-height: unset;
    padding-top: 0;
  }
}

section#life #price .card .card-body .card-text {
  letter-spacing: 0.25rem;
}

section#life #price .card .card-body p {
  line-height: 25px;
}

section#life #price .card .card-body small {
  line-height: 17.5px;
}

section#life #price .card .card-body a {
  margin-bottom: 5rem !important;
}

section#life #price .swiper-pagination-bullet {
  width: 13px;
  margin: 0 5px;
}

section#life #Modal-notice .modal {
  color: #0c2875;
}

section#life #Modal-notice .modal .close {
  color: #0c2875;
}

section#life #Modal-booking .modal-dialog {
  max-width: 1140px;
}

@media screen and (max-width: 1200px) {
  section#life #Modal-booking .modal-dialog {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  section#life #Modal-booking .modal-dialog {
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  section#life #Modal-booking .modal-dialog {
    max-width: 300px;
    margin: auto;
  }
}

section#life #Modal-booking #booking {
  font-weight: 300;
}

section#life #Modal-booking #booking .booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

section#life #Modal-booking #booking .booking-form .form-control {
  border: none;
  height: 65px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #090a0b;
  font-weight: 300;
  background: #f2f1f1;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
  section#life #Modal-booking #booking .booking-form .form-control {
    height: unset;
    font-size: unset;
  }
}

section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control:-ms-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
  font-size: 0.812rem;
  line-height: 65px;
}

section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control:-ms-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control::placeholder, section#life #Modal-booking #booking .booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
  font-size: 0.812rem;
  line-height: 65px;
}

@media screen and (max-width: 1000px) {
  section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control:-ms-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form input[type="date"].form-control:invalid {
    line-height: 36px;
  }
  section#life #Modal-booking #booking .booking-form .form-control::-webkit-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control:-ms-input-placeholder, section#life #Modal-booking #booking .booking-form .form-control::placeholder, section#life #Modal-booking #booking .booking-form input[type="date"].form-control:invalid {
    line-height: 36px;
  }
}

section#life #Modal-booking #booking .booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

section#life #Modal-booking #booking .booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

section#life #Modal-booking #booking .booking-form select.form-control + .select-arrow:after {
  content: '▼';
  display: block;
}

section#life #Modal-booking #booking .booking-form .form-label {
  color: #184c8f;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  padding-left: 3px;
  text-transform: uppercase;
  text-align: left;
}

section#life #Modal-booking #booking .booking-form .form-label:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f2f1f1 transparent transparent transparent;
}

section#life #Modal-booking #booking .booking-form .form-btn {
  margin-bottom: 30px;
}

section#life #Modal-booking #booking .booking-form .submit-btn {
  background: #184c8f;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 96px;
  font-size: 18px;
  width: 100%;
  color: #c9d9f8;
  border-radius: 4px;
  display: block;
}

@media screen and (max-width: 1000px) {
  section#life #Modal-booking #booking .booking-form .submit-btn {
    height: 44px;
  }
}

section#life #Modal-booking #booking .booking-form .counter-btn {
  font-size: 1.5em;
  font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.2);
          box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.2);
  margin: 13px 0;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1000px) {
  section#life #Modal-booking #booking .booking-form .counter-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 8px 0;
  }
}

section#life #Modal-booking #booking .booking-form .counter-btn:hover {
  -webkit-box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.3);
          box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.3);
}

section#life .row div {
  position: relative;
}

section#life .row div .spanL, section#life .row div .spanR {
  position: absolute;
  top: 65px;
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px;
}

@media screen and (max-width: 991px) {
  section#life .row div .spanL, section#life .row div .spanR {
    display: none;
  }
}

section#life .row div .spanL {
  right: 15px;
  border-color: transparent #c9d9f8 transparent transparent;
}

section#life .row div .spanR {
  border-color: transparent transparent transparent #c9d9f8;
}

section#life .row i {
  font-size: 2.5rem;
  padding: 0.5rem;
  color: #0c2875;
}

@media screen and (max-width: 576px) {
  section#life .row i {
    font-size: 1.9rem;
  }
}

section#life .row h5 {
  letter-spacing: 1px;
  line-height: 29px;
}

@media screen and (max-width: 576px) {
  section#life .row h5 {
    font-size: 0.9rem;
  }
}

section#life .row p {
  margin: 0;
  /*調整槓槓的左右距離*/
}

section#life .row p span {
  font-size: 2em;
  line-height: unset;
  color: #0c2875;
  position: relative;
  /*定位槓槓（當槓槓的父元素）*/
}

@media screen and (max-width: 576px) {
  section#life .row p span {
    font-size: 1.5em;
  }
}

section#life .row p span:before, section#life .row p span:after {
  content: '';
  /*定位槓槓的位置*/
  position: absolute;
  top: 50%;
  background: #0c2875;
  /*寬和高做出來的槓槓*/
  width: 500%;
  height: 1.7px;
}

@media screen and (max-width: 880px) {
  section#life .row p span:before, section#life .row p span:after {
    width: 763%;
    height: 1.3px;
  }
}

@media screen and (max-width: 576px) {
  section#life .row p span:before, section#life .row p span:after {
    width: 616%;
    height: 1.3px;
  }
}

section#life .row p span:before {
  left: 80%;
}

section#life .row p span:after {
  right: 80%;
}

/* 最新消息 */
section#news {
  height: 100vh;
}

@media screen and (max-width: 576px) {
  section#news h2 {
    border-top: unset;
    border-bottom: unset;
    display: block;
    line-height: unset;
    padding-top: 0;
  }
}

@media screen and (max-width: 576px) {
  section#news .row .col-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

section#news .row .col-4 .r-news {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: solid 1px #050141;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  section#news .row .col-4 .r-news {
    width: 54px;
    height: 54px;
  }
}

@media screen and (max-width: 992px) {
  section#news .row .col-4 .r-news {
    width: 68px;
    height: 68px;
  }
}

section#news .row .col-4 .r-news p {
  margin: 0;
  padding: 0 15px;
  font-family: 'Franklin Gothic Medium',serif;
  line-height: 35px;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  section#news .row .col-4 .r-news p {
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  section#news .row .col-4 .r-news p {
    line-height: 32px;
  }
}

section#news .row .col-4 .r-news .border-bottom {
  border-bottom: 1px solid #050141 !important;
}

section#news .row .col-8 a {
  text-decoration: none;
  color: #0c2875;
}

section#news .row .col-8 a:hover {
  color: #1956c7;
}

section#news .row .border-top {
  border-top: 1px solid #050141 !important;
  padding-top: 27px;
}

section#news .row .date {
  line-height: 18px;
}

/* 山居故事 */
section#about {
  position: relative;
  height: unset;
}

section#about .title:after {
  left: 716px;
  width: 9%;
}

@media screen and (max-width: 1200px) {
  section#about .title:after {
    left: 422px;
    width: 14%;
  }
}

@media screen and (max-width: 1080px) {
  section#about .title:after {
    left: 443px;
    width: 14%;
  }
}

@media screen and (max-width: 895px) {
  section#about .title:after {
    left: 302px;
    width: 19%;
  }
}

@media screen and (max-width: 576px) {
  section#about .title:after {
    left: 224px;
    width: 25%;
  }
}

section#about .row {
  margin: 0;
}

section#about .col {
  padding: 0;
}

section#about .col .story-img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: calc(100vh - 257px);
}

@media screen and (max-width: 576px) {
  section#about .col .story-img {
    height: 55vh;
  }
}

section#about .col .story {
  position: absolute;
  top: 189px;
  right: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15pt;
  color: #1956c7;
}

@media screen and (max-width: 800px) {
  section#about .col .story {
    top: 135px;
    right: 22px;
  }
}

@media screen and (max-width: 576px) {
  section#about .col .story {
    top: 19px;
    right: 7px;
  }
  section#about .col .story h3 {
    font-size: 1.25rem;
    margin-top: 1.75rem;
  }
  section#about .col .story p {
    font-size: .85rem;
  }
}

/* 美好歲月 */
section#photo .title:after {
  left: 716px;
  width: 9%;
}

@media screen and (max-width: 1200px) {
  section#photo .title:after {
    left: 422px;
    width: 14%;
  }
}

@media screen and (max-width: 1080px) {
  section#photo .title:after {
    left: 443px;
    width: 14%;
  }
}

@media screen and (max-width: 895px) {
  section#photo .title:after {
    left: 302px;
    width: 19%;
  }
}

@media screen and (max-width: 576px) {
  section#photo .title:after {
    left: 224px;
    width: 25%;
  }
}

section#photo a {
  text-decoration: none;
}

section#photo a img {
  width: 50%;
}

@media screen and (max-width: 768px) {
  section#photo a img {
    width: 95vw;
  }
}

/* 周邊景點 */
section#viewpoint #map-viewpoint {
  position: relative;
  height: 600px;
}

section#viewpoint #map-viewpoint .btn-viewpoint {
  position: absolute;
  z-index: 19;
  left: -19px;
  top: 119px;
}

section#viewpoint #map-viewpoint .btn {
  letter-spacing: 3px;
  line-height: 25px;
}

section#viewpoint #map-viewpoint .gmnoprint {
  display: none;
}

section#viewpoint .card {
  background-color: unset;
  border: unset;
}

section#viewpoint .card .Text {
  text-align: center;
  z-index: 30;
  margin: -20px 40px 0 40px;
  background: #fff;
  padding: 15px;
  position: relative;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

section#viewpoint .card .Text .btn {
  padding: 0.1rem 0.3rem;
  background-color: #7878f8;
  color: #fff;
}

section#viewpoint .swiper-container .swiper-button-next, section#viewpoint .swiper-container .swiper-button-prev {
  top: unset;
  bottom: 3%;
}

section#viewpoint .swiper-container .swiper-button-next {
  right: 3px;
}

section#viewpoint .swiper-container .swiper-button-prev {
  left: 3px;
}

/* 行程推薦 */
/* 山居位置 */
section#location .container {
  position: relative;
}

@media screen and (max-width: 576px) {
  section#location .container {
    padding-left: 0;
    padding-right: 0;
  }
}

section#location button {
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px;
  border-color: transparent transparent #7a9bf7 transparent;
}

@media screen and (max-width: 576px) {
  section#location button {
    font-size: 11px;
    border-style: solid;
    border-width: 30px;
    border-color: transparent transparent #7a9bf7 transparent;
  }
}

section#location button i {
  position: absolute;
  font-size: 53px;
  color: #c9d9f8;
  top: 140px;
  right: 104px;
  -webkit-filter: drop-shadow(0.5px 0.5px 1.5px #0c2875);
          filter: drop-shadow(0.5px 0.5px 1.5px #0c2875);
}

@media screen and (max-width: 576px) {
  section#location button i {
    font-size: 35px;
    top: 62px;
    right: 26px;
  }
}

section#location button h2 {
  position: absolute;
  top: 185px;
  right: 80px;
}

@media screen and (max-width: 576px) {
  section#location button h2 {
    top: 85px;
    right: 21px;
    line-height: 1.2 !important;
    font-size: 12pt !important;
    border-top: unset;
    border-bottom: unset;
    display: block;
  }
}

section#location .collapse .card iframe {
  widows: 100%;
  height: 60vh;
}

/* 聯絡我們 */
section#contact .contact-us {
  background-color: #0e1946;
  color: #c9d9f8;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  position: fixed;
  right: 19px;
  bottom: 19px;
  z-index: 199;
}

@media screen and (max-width: 576px) {
  section#contact .contact-us {
    right: 9px;
    bottom: 9px;
  }
}

section#contact .contact-img {
  width: 249px;
  height: 435.33px;
}

@media screen and (max-width: 576px) {
  section#contact .contact-img {
    display: none;
  }
}

section#contact #contact_form .form-control-feedback {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 12;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

section#contact #contact_form .help-block {
  color: #750c1a;
  padding-left: 110px;
}

section#contact #contact_form .fa-check-color {
  color: #0c2875;
}

section#contact #contact_form .fa-wrong-color {
  color: #750c1a;
}

section#contact #contact_form #success_message {
  display: none;
}

/* footer */
footer {
  background-color: #7a9bf7;
}

footer .row .col-12 a {
  text-decoration: none;
  color: #0c2875;
}

footer .row .col-md-3 i.fa-paper-plane {
  font-size: 1.9rem;
}

footer .row .col-md-3 p {
  line-height: 30px;
  margin: 0;
}
/*# sourceMappingURL=mtlife.css.map */