* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    /* max-width: 100vw; */
    overflow-x: hidden;
    font-family: "system-ui", sans-serif;
    color: #08132E;
    line-height: 1.45;

}

.doodle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.doodle-bg {
    padding: 8vh 0;
    width: 100vw;
    height: 92vh;
    /* 100vh-8vh (padding的 footer 的高度) = 92vh */
}

@media (max-width: 640px) {
    .doodle-bg {
        height: 312vh;
    }
}

/* 個人資訊 */
#profile{
    display: none;
}
.active{
    display: flex;
}

.bg-profile {
    background: #edf2f49c;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
}

.profile:before {
    content: "X";
    position: absolute;
    width: 12px;
    height: 10px;
    top: 19px;
    right: 19px;
}

.profile {
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

@media (max-width: 530px) {
    .profile {
        display: block;
        width: 270px;
    }
}

.profile:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}

.profile .profile-img {
    width: 199px;
    height: 199px;
    display: inline-block;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
    -webkit-transform: translateZ(69px);
    transform: translateZ(69px);
}

.profile .profile-img a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 35px 30px;
}

.profile .profile-img a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid rgb(249, 240, 250);
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #221177 50%, #221177 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #221177 50%, #221177 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
    -webkit-transform: translateZ(23px);
    transform: translateZ(23px);
}

.profile .profile-img a>img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(207, 50, 255, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(207, 50, 255, 0.06);
}

.profile .profile-img a:hover>img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(207, 50, 255, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(207, 50, 255, 0.1);
}

.profile .profile-content {
    margin: auto;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.profile .profile-content h1 {
    letter-spacing: 5px;
}

.profile h1 {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

.profile p {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    display: block;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

.profile p.related {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    letter-spacing: 1.5px;
}

.profile a {
    color: #35175c;
    text-decoration: none;
    pointer-events: auto;
}
.profile a:hover {
    color: #8446e9;
}

.profile a i {
    margin-right: 9px;
}

/* 作品 */
.container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.center {
    margin: auto;
    justify-content: center;
}

.m-1 {
    margin: 1rem;
}

.color-eat {
    background-color: burlywood;
}

.color-live {
    background-color: lightgreen;
}

.color-movie {
    background-color: lightskyblue;
}

.color-other {
    background-color: khaki;
}

img {
    max-width: 100%;
}

.card {
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
    box-shadow: 0px 25px 30px -15px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.card_item {
    position: relative;
    width: 88px;
    top: 158px;
    left: 212px;
    z-index: 9;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0.5rem;
    letter-spacing: 1.9px;
}

.card_item_line {
    width: 5px;
    height: 29px;
}

.card_content {
    padding: 0 0.7rem 0.7rem 0.7rem;
    display: flex;
    justify-content: space-around;
}

.card_img {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
}

.card_title {
    line-height: 1.2;
    font-size: 2em;
    font-weight: bold;
}

.card_btn {
    display: table;
    padding: 0.45em 1.3em;
    line-height: 1.2;
    background: #08132E;
    color: white;
    border-radius: 3em;
    text-decoration: none;
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.75);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card_btn:hover {
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.ishadow img {
    position: relative;
    z-index: 2;
    border-radius: 8px 8px 0 0;
}

.image-shadow {
    z-index: 1 !important;
}

footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background: -moz-linear-gradient(top, rgba(210, 183, 255, 0.03) 0%, rgba(210, 183, 255, 0.31) 31%, rgba(175, 161, 234, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(210, 183, 255, 0.03) 0%, rgba(210, 183, 255, 0.31) 31%, rgba(175, 161, 234, 1) 100%);
    background: linear-gradient(to bottom, rgba(210, 183, 255, 0.03) 0%, rgba(210, 183, 255, 0.31) 31%, rgba(175, 161, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afa1ea', endColorstr='#00d2b7ff', GradientType=0);
}

footer a {
    text-decoration: none;
    color: rgb(76, 3, 145);
    font-size: 26px;
    margin: 0 7px;
}

footer p {
    padding-top: 3px;
    font-size: 12px;
}

@media (max-width: 640px) {
    footer .m-1{
        margin:1rem 0.5rem;
    }
    footer a {
        font-size: 19px;
        margin: 0 1px;
    }

    footer p {
        padding-top: 1px;
        font-size: 7px;
    }
}